/* 
    Created on : 29-apr-2019, 15.59.26
    Author     : Fabio Coppini
*/

*{
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: native;
    src: url(font/fonts/ZCOOLXiaoWei-Regular.ttf);
}

body{
    background-image: url('images/sfondo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    height: 100px;
    background: rgba(124, 158, 100,0.5);
    padding: 0 20px;
    color: orange;
    position: relative;
    z-index: 1000;
}
.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.menu{
    float: right;
    line-height: 100px;
}
.menu li{
    display: inline-block;
    list-style-type: none;
}
.menu a{
    color: white;
    font-family: native;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 36px;
    transition: 0.4s;
    text-shadow: 2px 2px 4px black;
}

.menu h1{
    color: orange;
    font-family: native;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 36px;
    transition: 0.4s;
    text-shadow: 2px 2px 4px black;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100px;
}

.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
    color: orange;
}

#chk{
    position: absolute;
    visibility: hidden;
}

@media screen and (max-width:1000px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu li{
        display: list-item;
    }
    .menu a{
        display: block;
        padding: 40px;
        font-size: 30px;
    }
    .menu a::after {
        content: '';
        display: block;
        margin-left: 30%;
        width: 0;
        height: 2px;
        background: white;
        transition: width 1s;
    }
    .menu a:hover::after {
        width: 40%;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}

/*div primo par*/
.containerTesto{
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px 15px;
    border-radius: 6px;
}
.containerTesto p{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: native;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/*hidden class*/
.divA{
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    border-radius: 6px;
    font-family: native;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:white;
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
}
.divB{
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    border-radius: 6px;
    font-family: native;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:white;
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
}
.divVestito{
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
    font-family: native;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:white;
    border-radius: 6px;
}
.divScarpe{
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
    font-family: native;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:white;
    border-radius: 6px;
}
.divArco{
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
    font-family: native;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:white;
    border-radius: 6px;
}
.divTom{
    padding: 15px 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    background-image: linear-gradient(to right,rgba(155, 124, 70, 1), rgba(124, 158, 100,0.5), rgba(155, 124, 70, 1));
    border-radius: 6px;
    font-family: native;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    color:white;
}

/*div container per immagini*/
.container{
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    margin-top: 10px; 
    margin-bottom: 15px;
    text-align: center;
}
.copricapoA{
    width: 15%;
    display: inline-block;
}
.copricapoB{
    width: 15%;
    display: inline-block;
}
.vestito{
    width: 15%;
    display: inline-block;
}
.scarpe{
    width: 15%;
    display: inline-block;
}
.arco{
    width: 15%;
    display: inline-block;
}
.tomahawk{
    width: 15%;
    display: inline-block;
}

/*css immagini*/
.imgCostumi{
    width: 100%;
    float: none;
    height: auto;
    border-radius: 50%;
    transition-duration: 300ms;
    border: 2px solid #7C9E64;
    cursor: pointer;
}
.imgCostumi:hover{
    transition-property: all;
    transition-duration: 300ms;
    border-radius: 1px;
}

/*ultimo par*/
.containerTesto1{
    background-image: linear-gradient(to right,rgba(0,0,0,0.5), rgba(124, 158, 100,0.5), rgba(0,0,0,0.5));
    width: 35%;
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 6px;
}
.containerTesto1 p{
    font-family: native;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: orange;
    font-style: italic;
}

@media screen and (max-width: 600px){
    .divA{font-size: 13px;}
    .divB{font-size: 13px;}
    .divVestito{font-size: 13px;}
    .divScarpe{font-size: 13px;}
    .divArco{font-size: 13px;}
    .divTom{font-size: 13px;}    
    .containerTesto p{font-size: 15px;float: none;}
    .containerTesto1 p{font-size: 15px;float: none;}
}